* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 50px;
}

%box {
    display: flex;
    justify-content: center;
}

body {
    background-color: black;
    @extend %box;
    &>#main {
        @extend %box;
        margin-top: 30px;
        &>#left {
            @extend %box;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: 50px;
            &>#skip {
                @extend %box;
                border: 3px solid grey;
            }
        }
        &>#between {
            @extend %box;
            border: 3px solid grey;
            margin-right: 50px;
            position: relative;
            &>#downCanvas {
                position: absolute;
            }
            &>#dropCanvas {
                position: absolute;
            }
        }
        &>#right {
            @extend %box;
            flex-direction: column;
            justify-content: flex-start;
            &>#next {
                @extend %box;
                border: 3px solid grey;
                margin-bottom: 50px
            }
            &>#score {
                @extend %box;
                border: 3px solid grey;
            }
        }
    }
}